body {
    background: #273583;
    font-family: 'Arial', Helvetica, sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    margin: 0;
}
.container{
    background: rgba(228, 228, 232, 0.3);
    max-width: 500px;
    padding: 25px;
    border-radius: 50px;
    box-shadow: 0 8px 32px rgba(220, 48, 48, 0.1);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(116, 17, 17, 0.1);
    text-align: center;
}
.todo-app h2{
    color: #16101d;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}
.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;  
    font-size: 14px;
    border-radius: 45%;
}
button{
   border: none;
   outline: none;
   padding: 10px 40px;
   background: #ff5945;
   color: #fff;
   font-size: 16px;
   cursor: pointer;
   border-radius: 40px;
}
ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 20px;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #fefcfc;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover {
    background: #edeef0;
}